<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--公共的项目名、网页图标、js、css-->
<head th:fragment="common_head(styles,links)">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta charset="utf-8">

  <!-- Description, Keywords and Author -->

  <meta name="description" content="">
  <meta name="author" content="">
  <title>MuTong</title>
  <link rel="shortcut icon" th:href="@{/blog/favicon.ico}"/>

  <!-- Custom-Files -->
  <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/blog/css/bootstrap.css}">

  <!-- Bootstrap-Core-CSS -->
  <link rel="stylesheet" href="css/style.css" th:href="@{/blog/css/style.css}" type="text/css" media="all"/>
  <link rel="stylesheet" href="css/style.css" th:href="@{/blog/css/ana.style.css}"
        type="text/css" media="all"/>

  <!--layui-->
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" th:href="@{/layuiadmin/layui/css/layui.css}"
        media="all">
  <!--code-->
  <link rel="stylesheet" href="css/style.css" th:href="@{/blog/css/xcode.min.css}" type="text/css" media="all"/>
  <link rel="stylesheet" href="css/style.css" th:href="@{/blog/css/style.min.css}" type="text/css" media="all"/>
  <!-- Style-CSS -->
  <link href="css/font-awesome.min.css" th:href="@{/blog/css/font-awesome.min.css}" rel="stylesheet">

  <!-- Font-Awesome-Icons-CSS -->
  <!-- //Custom-Files -->

  <!-- Web-Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900&amp;subset=latin-ext"
        rel="stylesheet">
  <!-- //Web-Fonts -->
  <th:block th:if="${links!=null}" th:replace="${links}"/>
  <th:block th:if="${styles!=null}" th:replace="${styles}"/>


  <script>
    /*项目地址*/
    var baseUrl = "[[${#servletContext.contextPath}]]";
  </script>
</head>
<body>

</body>
</html>