<!DOCTYPE HTML>


<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--引入公共的js和css-->
<head th:replace="common/layout :: common_head(~{::style},~{::link})">
  <!--在此引入css样式表-->
  <link/>
  <!--在此写入style-->
  <style>

  </style>
</head>



    <body>

    

    	<!-- header -->
      <header th:replace="common/nav::header(active='关于我')"></header>
        <!-- header -->

        <!-- main -->

        <main role="main-inner-wrapper" class="container">

        	

            <div class="row">

            

            	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                	<article role="pge-title-content">

                    	<header>

                        <h2><span>我</span> 喜欢做什么?</h2>

                        </header>

                    <p>我喜欢听音乐,敲代码,研究新的技术,打游戏,做视频。</p>

                    </article>

                </section>

                

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                	<article class="about-content">

                    	<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc, fiant sollemnes in futurum.</p>

                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consueum formas humanitatis per seacula quarta deciEodem modo tythepi, qui nunc, fiant sollemnes in futurum.</p>

                    </article>

                </section>

                

                <div class="clearfix"></div>

                

                <!-- thumbnails -->

                	<div class="thumbnails-pan">

                    	<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">

                        	<figure>

                            <img src="images/about-images/about-image-1.jpg"
                                 th:src="@{/blog/images/about-images/about-image-1.jpg}"
                                 class="img-responsive"/>

                            	<figcaption>

                                <h3>分页数据</h3>

                                <h5>让分页操作更顺畅</h5>

                                </figcaption>

                            </figure>

                        </section>

                        <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">

                        	<figure>

                            <img src="images/about-images/about-image-2.jpg"
                                 th:src="@{/blog/images/about-images/about-image-2.jpg}"
                                 class="img-responsive"/>

                            	<figcaption>

                                <h3>组装返回值</h3>

                                <h5>参考api文档写自动填装的方法</h5>

                                </figcaption>

                            </figure>

                        </section>

                        <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">

                        	<figure>

                            <img src="images/about-images/about-image-3.jpg"
                                 th:src="@{/blog/images/about-images/about-image-3.jpg}"
                                 class="img-responsive"/>

                            	<figcaption>

                                <h3>项目管理</h3>

                                <h5>让工作效率更高</h5>

                                </figcaption>

                            </figure>

                        </section>

                        

                     

                    </div>

                <!-- thumbnails -->

                

                

            </div>

        </main>

    	<!-- main -->

        <!-- footer -->
      <footer th:replace="common/nav::footer"></footer>
        <!-- footer -->

    </body>

</html>