<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--引入公共的js和css-->
<head th:replace="common/layout :: common_head(~{::style},~{::link})">
  <!--在此引入css样式表-->
  <link href="css/set2.css" th:href="@{/blog/css/effects/set2.css}" rel="stylesheet"
        type="text/css">
  <link href="css/normalize.css" th:href="@{/blog/css/effects/normalize.css}" rel="stylesheet"
        type="text/css">
  <!--在此写入style-->
  <style>

  </style>
</head>



    <body>

    

    	<!-- header -->

      <header th:replace="common/nav::header(active='联系我')"></header>
      <!-- header -->

        <!-- main -->

        <main role="main-inner-wrapper" class="container">

        	

            <div class="row">

            

            	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                	<article role="pge-title-content" class="contact-header">

                    	<header>

                        	<h2><span>Hey Thr!</span> we love to hear you.</h2>

                        </header>

                    <p><a href="mailto:mutongf@gmail.com"><i class="fa fa-envelope"
                                                             aria-hidden="true"></i>
                      mutongf@gmail.com</a></p>

                    </article>

                </div>

                <!-- map -->

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                        <div class="demo-wrapper">

                        	<div id="surabaya"></div>

                        </div>

                </div>

                <!-- map -->

                <div class="clearfix"></div>

                

               <!-- contat-from-wrapper -->

               <div class="contat-from-wrapper">

               		  <div id="message"></div>

                                <form method="post" action="php/contactfrom.php" name="cform" id="cform">

                            <div class="row">

                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                                  <input name="name" id="name" type="text" placeholder="你的姓名">

                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                                  <input name="email" id="email" type="email" placeholder="你的邮箱">

                                </div>

                            </div>

                            <div class="clearfix"></div>

                                  <textarea name="comments" id="comments" cols="" rows=""
                                            placeholder="你想说的"></textarea>

                            <div class="clearfix"></div>

                                  <input name="" type="submit" value="发送">

                            <div id="simple-msg"></div>

                        </form>

               </div>

               <!-- contat-from-wrapper -->

                

                

            </div>

        </main>

    	<!-- main -->

        <!-- footer -->

      <footer th:replace="common/nav::footer"></footer>
      <!-- footer -->

    </body>

</html>