<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/layout :: common_head(~{::style},~{::link})">
	<!--在此引入css样式表-->
	<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" th:href="@{/layuiadmin/layui/css/layui.css}"
				media="all">
	<!--在此写入style-->
	<style>
	</style>
</head>

<body>
<!-- header -->
<header th:replace="common/nav::header(active='index')"></header>
<!-- //header -->

<!-- banner -->
<div class="banner_w3lspvt he-codes">
	<div class="container-fluid">
		<div class="banner-text pl-lg-5 pl-sm-4 ml-lg-3">

			<h1 class="my-md-4 my-3">沐瞳の个人博客</h1>
			<h2>人的一生相聚亦难别亦难，并不是心心相映的两个人就一定会在一起，之间总是会有想不到的阻隔，让人欲罢不能。</h2>
			<a href="/blog" class="btn button-style mt-5">查看更多</a>
			<!--<a href="contact.html" class="btn button-style mt-5">联系我</a>-->
		</div>
	</div>
	<!--footer-->
	<!--<footer th:replace="common/nav::footer"></footer>-->
	<!--footer-->
</div>
<!-- //banner -->

</body>

</html>