<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 内容系统 - 文章列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label" style="width: 120px">文章ID/作者/标题</label>
          <div class="layui-input-inline" style="width: 600px">
            <input type="text" name="content" placeholder="请输入" autocomplete="off"
                   class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">文章分类</label>
          <div class="layui-input-inline">
            <select name="category">
              <option value="">请选择分类</option>
              <option th:each="categorie:${categories}" th:value="${categorie.id}">
                <span th:text="${categorie.name}"></span>
              </option>
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">文章标签</label>
          <div class="layui-input-inline">
            <select name="tag">
              <option value="">请选择标签</option>
              <option th:each="tag:${tags}" th:value="${tag.id}">
                <span th:text="${tag.name}"></span>
              </option>
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-list" lay-submit
                  lay-filter="LAY-app-contlist-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
        <a class="layui-btn" lay-href="back/article/add">添加</a>
      </div>
      <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
      <script type="text/html" id="buttonTpl">
        {{#  if(d.status==0){ }}
        <button class=" layui-btn layui-btn-primary layui-btn-xs" title="点击发表文章" lay-event="release">待修改</button>
        {{#  } else if(d.status==1) { }}
        <button class="layui-btn layui-btn-xs">已发布</button>
        {{#  } }}
      </script>
      <script type="text/html" id="table-content-list">
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-href="/article/add?id={{d.id}}"><i
            class="layui-icon layui-icon-release"></i>查看</a>
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-href="back/article/add?id={{d.id}}"><i
            class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'article', 'table'], function () {
    var table = layui.table
        , form = layui.form;

    //监听搜索
    form.on('submit(LAY-app-contlist-search)', function (data) {
      var field = data.field;

      //执行重载
      table.reload('LAY-app-content-list', {
        where: {map: JSON.stringify(field)}
      });
    });

    var $ = layui.$, active = {
      batchdel: function () {
        var checkStatus = table.checkStatus('LAY-app-content-list')
            , checkData = checkStatus.data; //得到选中的数据

        if (checkData.length === 0) {
          return layer.msg('请选择数据');
        }

        layer.confirm('确定删除吗？', function (index) {

          //执行 Ajax 后重载
          /*
          admin.req({
            url: 'xxx'
            //,……
          });
          */
          table.reload('LAY-app-content-list');
          layer.msg('已删除');
        });
      }
    };

    $('.layui-btn.layuiadmin-btn-list').on('click', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
</script>
</body>
</html>
